<div class="container" ng-controller="PictureCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div class="jumbotron text-center">
	<h1>Let's look at some pictures!</h1>
	<button type="button" class="btn btn-primary btn-lg" ng-click="refresh()">Refresh</button>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-3" ng-repeat="picture in pictures track by $index">
			<a>
				<img class="img-thumbnail" ng-src="{{picture.url}}" alt="{{picture.title}}">
			</a>
		</div>
	</div>
	
	<div class="jumbotron text-center">
		<button type="button" class="btn btn-default" ng-click="previousPage()">
			<<
		</button>
		<button type="button" class="btn btn-default" ng-click="nextPage()">
			>>
		</button>
	</div>

  <hr>

  <div class="footer">
    <p>Deer pics that are randomly queried through the google api</p>
  </div>

</div>